@import url('https://fonts.googleapis.com/css?family=Lemonada:700|Open+Sans:400,600,700&display=swap');
@import url('../css/reset.css');
@import url('../css/fonts.css');
$primary-font: 'Open Sans', sans-serif;
$header-font: 'Lemonada', cursive;
$primary-bg: #fff;
$primary-color: #fff;
$menu-bg: #f91c3b;
$header-bg: #070d1b;
$scroll-bg: #050a16;
$color-text: #000;
$color-body: #282828;
$color-bg-title: #5775bc;
$color-services: #97adc4;
$color-title: #093868;
$grey-text: #898e9a;
$sprite-url: '../img/css_sprites.png';
$texture-header: '../img/texture-dark.png';
$texture-main: '../img/texture-primary.png';
$texture-services: '../img/texture-services.png';
$lines-light: '../img/bg-line-light.png';
$lines-dark: '../img/bg-line-dark.png';
@mixin sprite($url, $posx, $posy, $width, $height) {
	background: url($url) $posx $posy;
	width: $width;
	height: $height;
}
@mixin bg-multiple($bg-color, $texture-url, $lines-url) {
	background: $bg-color;
	background-image: url($texture-url), url($lines-url);
}
body,
html {
	background-color: $color-body;
}
:root {
	font-family: $primary-font;
	color: $primary-color;
	font-size: 14px;
}
a,
a:active,
a:visited,
a:link {
	color: $primary-color;
}
.intro {
	position: relative;
	outline: none;
	&__inner {
		position: relative;
		padding-left: 50px;
		@include bg-multiple($header-bg, $texture-header, $lines-light);
	}
}
.wrapper {
	max-width: 1800px;
	width: 100%;
	margin: 0 auto;
}
.wrapper-content {
	max-width: 1747px;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
}
.header {
	color: $primary-color;
	width: 100%;
	position: relative;
	padding-top: 2.8vw;
	z-index: 2;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		font-size: 40px;
	}
	&__menu-icon {
		@include sprite($sprite-url, -10px, -74px, 30px, 21px);
	}
}
.logo {
	font-family: $header-font;
	display: flex;
	align-items: center;
	text-align: center;
	color: $primary-color;
}
.nav {
	width: 42%;
	padding: 2.8vw;
	background-color: $menu-bg;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	.social-links__link {
		font-family: 'icomoon';
		color: $primary-color;
		width: 7px;
		font-size: 23px;
		margin-right: 30px;
	}
}
.intro-slider.slick-slider {
	outline: none;
	width: 100%;
}
.intro-slider {
	margin-top: -30px;
	&__inner {
		display: flex;
		min-height: 975px;
	}
	&__title {
		font-family: $primary-font;
		color: $menu-bg;
		padding-left: 90px;
		border-left: 3px solid $menu-bg;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1;
		margin-bottom: 30px;
		font-weight: 700;
		letter-spacing: 4px;
	}
	&__title-desc {
		font-family: $header-font;
		font-size: 62px;
		line-height: 1.5;
		margin-bottom: 40px;
		max-width: 718px;
		position: relative;
		z-index: 11;
	}
	&__link-more-info {
		margin-bottom: 30px;
	}
}
.link-more-info {
	color: $primary-color;
	font-family: $primary-font;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-bottom: 20px;
	width: 115px;
	align-self: flex-start;
	display: block;
	border-bottom: 1px solid $primary-color;
}
.intro-slider__left-block,
.intro-slider__right-block {
	display: flex;
	flex-direction: column;
}
.intro-slider__right-block {
	width: 38%;
	margin-left: 90px;
	@include bg-multiple($primary-bg, $texture-main, $lines-dark);
	position: relative;
	.intro-slider__item-img {
		position: absolute;
		top: -30px;
		left: -278px;
		z-index: 8;
		width: 760px;
		height: 890px;
	}
	.intro-slider__subtext {
		color: $color-text;
		font-weight: 700;
		transform: rotate(90deg);
		position: absolute;
		top: 115px;
		width: 0;
		height: 0;
		right: 120px;
		letter-spacing: 6px;
		white-space: nowrap;
	}
}
.intro-slider__status {
	color: $color-text;
	font-weight: 600;
	width: 250px;
	position: absolute;
	bottom: 40px;
	left: 180px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.intro-slider__scroll-down {
	width: 115px;
	height: 245px;
	background-color: $scroll-bg;
	bottom: 0;
	right: -1px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $primary-color;
	.intro-slider__scroll-down-text {
		transform: rotate(90deg);
		height: 0;
		width: 0;
		white-space: nowrap;
		position: absolute;
		top: 45px;
		left: 55%;
	}
	.intro-slider__scroll-down-icon {
		@include sprite($sprite-url, -50px, -115px, 18px, 26px);
		position: absolute;
		bottom: 45px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.intro-slider__left-block {
	margin-left: auto;
	justify-content: center;
	position: relative;
}
.intro-slider__item-current {
	position: relative;
	.intro-slider__bg-title {
		font-size: 200px;
		color: rgba($color-bg-title, 0.03);
		position: absolute;
		top: 130px;
		left: -50px;
		font-family: $header-font;
		font-weight: bold;
	}
}
.intro-slider__current-number {
	position: absolute;
	right: 0;
	bottom: 30px;
}
.current-number {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	.current-value {
		font-size: 40px;
		font-weight: 700;
		color: $menu-bg;
		line-height: 1;
	}
	.amount {
		font-weight: 700;
	}
}
.intro-slider .slick-dots {
	display: flex;
	bottom: 45px;
	right: 260px;
	position: absolute;
	& button {
		border: 0;
		outline: none;
		background: transparent;
		font-size: 0;
		width: 33.33px;
		height: 2px;
		background-color: $color-text;
	}
	& .slick-active button {
		background-color: $menu-bg;
	}
}

.slider-preview {
	position: absolute;
	width: 255px;
	height: 455px;
	bottom: -70px;

	&__item {
		width: 255px;
		height: 455px;
		background-image: url('../img/header-left-1.jpg');
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 2;
	}
	&__number {
		color: $menu-bg;
		font-size: 160px;
		font-weight: bold;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.slider-preview__button {
	font-family: 'icomoon';
	color: $primary-color;
	border: 0;
	background: transparent;
	outline: none;
	width: 50px;
	height: 22px;
	font-size: 45px;
	position: absolute;
	bottom: 130px;
	z-index: 10;
	transition: 0.8s;
	&:hover {
		color: $menu-bg;
	}
}
.preview-prev {
	left: 100px;
}
.preview-next {
	left: 340px;
}
/*Welcome section*/
.main-inner {
	position: relative;
	@include bg-multiple($primary-color, $texture-main, $lines-dark);
	background-position-x: -74px;
}
.welcome {
	padding: 7.2vw 20px;
	&__inner,
	&__text {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		margin-left: -2.2vw;
		margin-right: -2.2vw;
		width: 61.5%;
	}
	&__text-item {
		line-height: 26px;
		color: $grey-text;
		text-align: justify;
		margin-left: 2.2vw;
		margin-right: 2.2vw;
	}
}
.content {
	max-width: 1110px;
	margin: 0 auto;
}

.section-subtitle {
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	position: relative;
	line-height: 30px;
	border-bottom: 3px solid $menu-bg;
	text-align: right;
}
.section-subtitle--red {
	color: $menu-bg;
}
.welcome__section-subtitle {
	max-width: 280px;
	margin-bottom: 30px;
}
.section-title {
	font-size: 36px;
	line-height: 47px;
	font-weight: 700;
}
.section-title--blue {
	color: $color-title;
}
.welcome__section-title {
	max-width: 480px;
	margin-bottom: 4.2vw;
	margin-left: 95px;
}
.welcome__img {
	background-color: $header-bg;
	width: 31.5%;
	position: absolute;
	top: 0;
	right: 6.5%;
	.welcome__photo {
		width: 100%;
		height: auto;
	}
}
.best-travel {
	position: relative;
	padding: 7.2vw 0px 0px;
}
.travel-slider {
	position: relative;
	width: 77%;
}
/*Best travel beaches*/
.travel-slider__item {
	position: relative;
	padding-bottom: 115px;
	padding-right: 150px;
}
.travel-slider__item.slick-slide {
	outline: none;
}
.travel-slider__photo {
	width: 100%;
}
.travel-slider__card {
	width: 450px;
	position: absolute;
	bottom: 0;
	left: 60px;
	z-index: 1001;
	padding: 30px;
	background-color: $primary-bg;
	box-shadow: 0.954px 4.908px 30px 0px rgba($color-text, 0.04);
	.travel-slider__title {
		font-size: 22px;
		font-weight: 700;
		color: $color-title;
		line-height: 30px;
		margin-bottom: 30px;
		max-width: 292px;
	}
	.travel-slider__text-desc {
		color: $grey-text;
		line-height: 26px;
		margin-bottom: 10px;
	}
}
.travel-slider__current-number {
	max-width: 3.8vw;
	font-weight: 700;
	position: absolute;
	bottom: 50px;
	left: 90%;
	.current-value {
		font-size: 22px;
	}
	.amount {
		color: $grey-text;
		font-size: 12px;
	}
}
.best-travel__mark {
	width: 28.1%;
	height: 23.4vw;
	background-color: rgba($menu-bg, 1);
	padding: 25px;
	position: absolute;
	top: -150px;
	right: 0;
	.best-travel__text {
		font-size: 24px;
		letter-spacing: 6px;
		line-height: 34px;
		color: $primary-bg;
		max-width: 127px;
		text-transform: uppercase;
		position: absolute;
		bottom: 25px;
		left: 25px;
	}
}
.travel-slider__button {
	color: $grey-text;
	border: 0;
	background: transparent;
	outline: none;
	width: 50px;
	height: 35px;
	font-size: 45px;
	position: absolute;
	bottom: 60px;
	z-index: 10;
	transition: 0.8s;
	&:hover {
		color: $menu-bg;
	}
}
.travel-prev {
	left: 60%;
}
.travel-next {
	left: 65%;
}
/*Services section*/
.services {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include bg-multiple($color-title, $texture-services, $lines-dark);
	min-height: 600px;
	padding: 10.8vw 20px;
	&__section-subtitle {
		max-width: 290px;
		margin-bottom: 30px;
	}
	&__section-title {
		max-width: 385px;
		margin-bottom: 7.5vw;
		margin-left: 104px;
	}
}
.section-title--white {
	color: $primary-color;
}
.services__items {
	margin-left: -40px;
	margin-right: -40px;
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	.services__item {
		width: calc((100% / 3) - 80px);
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 30px;
		line-height: 26px;
		&-icon {
			width: 41px;
			height: 42px;
			margin-bottom: 30px;
		}
		&-title {
			font-size: 18px;
			color: $primary-color;
			margin-bottom: 30px;
		}
		&-desc {
			color: $color-services;
			text-align: justify;
		}
	}
}
.icon-1 {
	background: url('../img/css_sprites.png') -74px -10px;
}
.icon-2 {
	background: url('../img/css_sprites.png') -10px -10px;
}
.icon-3 {
	background: url('../img/css_sprites.png') -135px -10px;
}
.services__bg-title {
	color: $color-bg-title;
	transform: translate(10%, -30%);
	opacity: 0.07;
	font-size: 50vw;
	font-weight: 700;
	position: absolute;
	top: 0;
	right: 0;
}
/* Gallery section*/
.gallery {
	padding: 8.3vw 0px 8.3vw 0px;
	&__inner-text {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.gallery-slider.slick-initialized {
	.slick-track {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	overflow: hidden;
	& .slick-list {
		left: 20px;
	}
}
.gallery__section-title {
	max-width: 410px;
	margin-left: 100px;
	margin-bottom: 45px;
}
.gallery__section-subtitle {
	max-width: 285px;
}
.gallery__desc {
	color: $grey-text;
	line-height: 26px;
	max-width: 640px;
	margin-left: 100px;
	margin-bottom: 5.8vw;
}
.gallery-slider__item {
	margin: 20px;
	background-color: $menu-bg;
	position: relative;
	&-img {
		width: 100%;
	}
	&-bg {
		background-color: $menu-bg;
		width: 100%;
		opacity: 0;
		transition: 0.8s;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transform: scale(1);
	}
}
.gallery-slider__item.slick-slide {
	outline: none;
}
.gallery-slider__item.slick-active {
	transform: scale(1);
	transition: 0.8s;
}
.gallery-slider__item.slick-active:hover {
	box-shadow: 0px 20px 30px 0px rgba(9, 41, 75, 0.25);
	transform: scale(1.05);
}
// .gallery-slider__item.slick-active .gallery-slider__item-bg {
// 	opacity: 0.5;
// }
@media screen and (max-width: 1024px) {
	.welcome__text {
		width: 65%;
	}
}
.gallery-slider__button {
	color: $menu-bg;
	border: 0;
	background: transparent;
	outline: none;
	width: 50px;
	height: 35px;
	font-size: 55px;
	position: absolute;
	bottom: 50%;
	z-index: 10;
	transition: 0.5s;
	&:hover {
		color: $primary-color;
	}
}
.gallery-prev {
	left: 5vw;
}
.gallery-next {
	right: 5vw;
}
.slick-initialized .gallery-slider__item.slick-slide.slick-current {
	opacity: 0;
}
/*Blog section*/
// .blog {
// 	padding-right: 18.9vw;
// }
.blog__text-block {
	padding: 70px 20px 50px;
	margin-bottom: 40px;
	background-color: $menu-bg;
	.blog__section-title {
		margin-bottom: 40px;
		margin-left: 86px;
	}
	.blog__desc {
		max-width: 610px;
		line-height: 28px;
		margin-left: 86px;
	}
	.blog__section-subtitle {
		max-width: 230px;
		margin-bottom: 20px;
	}
}
.section-subtitle--black {
	color: $color-text;
	border-bottom-color: $color-text;
}
.blog__items-inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	.blog__items-left {
		width: calc(65% - 17px);
		margin-right: 17px;
	}
	.blog__items-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(35% - 17px);
		.blog__item {
			align-items: stretch;
		}
	}
}
.blog__item {
	padding: 30px 30px 10px;
	display: flex;
	flex-direction: column;
	box-shadow: none;
	transition: 0.8s;
	position: relative;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
	overflow: hidden;
	&-date {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		display: block;
		padding-left: 30px;
		border-left: 2px solid $primary-color;
		margin-bottom: 15px;
		margin-top: auto;
	}
	&-title {
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
		padding-bottom: 10px;
		transition: 0.5s;
		margin-bottom: 25px;
	}
	&-desc {
		color: $color-services;
		line-height: 26px;
		margin-bottom: 30px;
	}
	&-info {
		transition: 0.8s;
		position: relative;
		bottom: -70%;
		.blog__link-more-info {
			margin-bottom: 10px;
		}
	}
}
.blog__item:hover .blog__item-info {
	bottom: 0;
}
.blog__item--bg1 {
	background-image: url(../img/blog-item-1.jpg);
}
.blog__item--bg2 {
	background-image: url(../img/blog-item-2.jpg);
}
.blog__item--bg3 {
	background-image: url(../img/blog-item-3.jpg);
}
.blog__item--bg4 {
	background-image: url(../img/blog-item-4.jpg);
}
.blog__item--bg5 {
	background-image: url(../img/blog-item-5.jpg);
}
.blog__items-double {
	display: flex;
	margin-left: -17px;
	margin-right: -17px;
	.blog__item {
		width: calc(50% - 15px);
		flex: 1;
		margin-left: 17px;
		margin-right: 17px;
	}
}
.blog__item--small {
	min-height: 315px;
}
.blog__item--big {
	height: 400px;
}
.blog__item-title--big {
	font-size: 28px;
	line-height: 40px;
}
.blog__item-desc--big {
	font-size: 18px;
}
.blog__item:hover {
	-webkit-box-shadow: 0px 0px 21px 3px rgba(9, 41, 75, 0.35),
		inset 0px 0px 247px 80px rgba(10, 56, 102, 1);
	-moz-box-shadow: 0px 0px 21px 3px rgba(9, 41, 75, 0.35),
		inset 0px 0px 247px 80px rgba(10, 56, 102, 1);
	box-shadow: 0px 0px 21px 3px rgba(9, 41, 75, 0.35),
		inset 0px 0px 247px 80px rgba(10, 56, 102, 1);
}
@media screen and (max-width: 968px) {
	.welcome__text {
		padding: 7vw;
		width: 100%;
	}
	.welcome__section-title {
		font-size: 22px;
		max-width: 250px;
	}
	.welcome__img {
		right: 16.5%;
	}
	.services__items {
		flex-wrap: wrap;
		.services__item {
			width: calc((100% / 2) - 80px);
		}
	}
}
@media screen and (max-width: 768px) {
	.welcome__text {
		flex-wrap: wrap;
		padding: 0;
		padding-top: 10px;
		margin: 0;
	}
	.welcome__text-item {
		margin-bottom: 10px;
	}
	.welcome__img {
		right: 20px;
	}
	.welcome__section-title {
		margin-left: 0;
	}
	.welcome__section-subtitle {
		max-width: 182px;
	}
	.services__items {
		.services__item {
			width: 100%;
		}
	}
}
