@import url('https://fonts.googleapis.com/css?family=Lemonada:700|Open+Sans:400,700&display=swap');
@import url('../css/fonts.css');
$primary-font: 'Open Sans', sans-serif;
$header-font: 'Lemonada', cursive;
$primary-bg: #fff;
$menu-bg: #f91c3b;
$header-bg: #070d1b;
$scroll-bg: #050a16;
